.swal-modal {
  /* background-color: rgba(144, 163, 68, 1); */
}

.swal-button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  padding: 15px 22px;
  border-radius: 13px;
  color: white;
  background-color: #10a36b;
  font-size: 16px;
  /* border: 1px solid #10a36b; */
  /* text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); */
}
.swal-button:hover {
  background-color: #10a36b;
}

.swal-title {
  font-size: 50px;
}
